<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>next_page</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <style>
     #title_div{
            text-align: center;
            background-color: rgb(94, 94, 202);
            padding: 20px;
        }
       
    .h6{
        color : grey;
        }


        </style>
</head>
<body>
 <div id="title_div">
        <h1 style="font-size: xx-large;color: white;">Helloo...Welcome to my blog...</h1>
        <h5 style="color: white;">Come and get a look at my recent posts</h5>
    </div>

<div class="container mt-3 pt-3 mb-3">

        <div class=" container card">
        {% for i in p%}
        <h4  class="card-title">{{i.title}}</h4>
        <h6 class="h6">|{{i.date}}</h6>

          <div class="card-body">{{i.content}}</div>



        </div>
        {% endfor %}
      </div>


</body>
</html>